@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  transition: background-color 0.3s, color 0.3s;
}

@layer base {
  :root {
    --background: 255, 255, 255; /* RGB format for Tailwind compatibility */
    --foreground: 15, 23, 42;
    --border-color: 229, 231, 235;
  }

  .dark {
    --background: 15, 23, 42;
    --foreground: 255, 255, 255;
    --border-color: 55, 65, 81;
  }
}

@layer utilities {
  .bg-background {
    background-color: rgb(var(--background));
  }
  
  .text-foreground {
    color: rgb(var(--foreground));
  }

  .border-border {
    border-color: rgb(var(--border-color));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
